@import "tailwindcss";

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/Pin-Sans-MacOS-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro bold";
  src: url("./fonts/Pin-Sans-MacOS-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Medium";
  src: url("./fonts/Pin-Sans-MacOS-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Heavy";
  src: url("./fonts/Pin-Sans-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* body {
   font-family: "SF Pro Heavy", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; 
} */

.KDM {
    fill: #e60023;
}

.HomePage {
    scroll-behavior: smooth;
}

.DefProfile::-webkit-scrollbar, .HomePage::-webkit-scrollbar {
    display: none;
}

.PRO_IMG {
  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
}